@model IEnumerable<Testovoe_zadaniye.Models.Guide>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Choose guide</h3>
<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name of Guide</th>
                    <th>Tourists List</th>
                    <th>Edit Guide</th>
                    <th>Delete Guide</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guide in Model)
                {
                    <tr>
                        <td>@guide.Name</td>
                        <td><a class="btn btn-primary btn-lg" href="~/Tourist/TouristsOfCurrentGuideForm/@guide.GuideId" role="button">>></a></td>
                        <td><a class="btn btn-primary btn-lg" href="~/Guide/EditGuide/@guide.GuideId" role="button">Edit</a></td>
                        <td><a class="btn btn-primary btn-lg" asp-action="DeleteGuide" asp-controller="Guide" asp-route-id="@guide.GuideId" onclick="return confirm ('Are yo sure yo want to delete: @guide.Name')">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" href="~/Guide/AddGuide" role="button">Register new guide</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg" href="~/Guide/GuideNavigation" role="button">To guide menu</a>
    </div>
</div>


