
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <h3>Guide menu</h3>
    <img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">
    <p>Select action:</p>
</head>
<body>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <p><a class="btn btn-primary btn-lg" href="~/Guide/AllGuidesList" role="button">Guide schedule </a></p>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <p><a class="btn btn-primary btn-lg" href="~/Tourist/AddTouristFormStep1" role="button">Add Tourist </a></p>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <p><a class="btn btn-primary btn-lg" href="~/Guide/AllToursForGuide" role="button">Tours List </a></p>
        </div>
    </div>

    <form asp-action="Logout" asp-controller="GuideLog" asp-anti-forgery="true">
        <input type="submit" class="btn btn-primary btn-lg" value="Logout" />

    </form>

</body>

