
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <h3>Guide menu</h3>
        <p>Select action:</p>
        <table>
            <tr>
                <td><a href="~/Home/ToGuides">INFO</a></td>
                <td><a href="~/Home/AddTourist">Add Tourist</a></td>
            </tr>
        </table>
    </div>
</body>
</html>