
    @{
        Layout = null;
    }

    <!DOCTYPE html>
    <html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <h3>Welcome!</h3>
            <p>Indicate your status:</p>
            <table>
                <tr>
                    <td><a href="~/Home/TouristList">Tourist</a></td>
                    <td><a href="~/Home/GuideLog">Guide</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>
