@model IEnumerable<Testovoe_zadaniye.Models.Guide>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Choose guide</h3>
<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tourists</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guide in Model)
                {
                    <tr>
                        <td>@guide.Name</td>
                        <td><a class="btn btn-primary btn-lg" href="~/Navigation/ToTouristList/@guide.GuideId" role="button">>></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
   
